header {
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#section-intro {
	background-color: #FFF;
	display: block;
	padding: 2.5rem 0;
	position: relative;
	width: 100%;
	
	h2 {
		font-family: $font-family-special;
		text-align: center;
	}
}



#contact {

	h4 {
		color: $brand-primary;
		font-family: $font-family-special;
		font-size: 3rem;
		letter-spacing: 3px;
		margin: 1rem 0;
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea {
		border: 0;
		border-bottom: $brand-primary solid 2px;
		border-left: $gray-lightest solid 2px;
		border-right: $gray-lightest solid 2px;
		border-top: $gray-lightest solid 2px;
		padding: 1rem;
		resize: none;
		width: 100%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		
		&:hover {
			border-left: $gray solid 2px;
			border-right: $gray solid 2px;
			border-top: $gray solid 2px;
		}
		
		&:active,
		&:focus {
			border-left: $brand-primary solid 2px;
			border-right: $brand-primary solid 2px;
			border-top: $brand-primary solid 2px;
		}
	}
	
	input[type="submit"] {
		background-color: $brand-primary;
		border: 0;
		border-radius: 0;
		color: $brand-secondary;
		cursor: pointer;
		padding: 1rem 1.5rem;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		
		&:hover {
			background-color: $brand-tertiary;
		}
	}
	
	span.wpcf7-not-valid-tip {
		padding-left: .5rem;
	}
}

footer {
	background-color: $gray;
	display: block;
	padding: 1rem 0;
	position: relative;
	width: 100%;
	
	h4 {
		color: $gray-lightish;
		margin-bottom: 1rem;
	}
	
	p {
		color: $gray-lightish;
		font-size: .8rem;
	}
	
	a {
		color: $gray-lightish;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		
		&:hover {
			color: $brand-secondary;
		}
	}
	
	i {
		font-size: 1.5rem !important;
		margin-right: 1rem;
	}
}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-down(sm) {

}

@include media-breakpoint-down(xs) {

}